
@model IEnumerable<alpha.Models.Dish>


<h1>Dishes</h1>

@foreach(var d in Model)
{
    <li>@d.Name <a asp-action="EditDish" asp-route-id="@d.Id">Edit</a></li>
    <li>
        @foreach(var i in d.Items){
            <ul>@i.Name @i.Type</ul>

        }
    </li>
}

<a asp-controller="Dish" asp-action="AddDish">Add Dish</a>