
@model IEnumerable<alpha.Models.Dish>


<h1>Dishes</h1>

@foreach(var d in Model)
{
    <li>@d.Name</li>
    <li>
        @foreach(var i in d.Items){
            <ul>@i.Name</ul>
        }
    </li>
}